@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.chart-wrapper {
  flex: 1;
  background-color: transparent;
  padding: 20px 20px;
  font-family: "Open Sans", sans-serif; }
  .chart-wrapper .chart-header {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end; }
    .chart-wrapper .chart-header .chart-title {
      font-size: 20px;
      display: 'inline'; }
    .chart-wrapper .chart-header .chart-icon {
      display: 'inline'; }
  .chart-wrapper .chart-graph {
    flex: 5; }
