@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.dashboard-container {
  flex: 1;
  margin-left: 250px !important;
  width: calc(100% - 250px);
  background: #f2f5f8; }

.duration-display {
  background-color: transparent;
  padding-left: 20px; }

.dashboard-input-header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  position: relative;
  width: 100%; }
  .dashboard-input-header .duration-selector-container {
    max-width: 300px;
    display: block; }
  .dashboard-input-header .store-selector-container {
    max-width: 400px;
    display: block; }

.dash-stats {
  background-color: transparent;
  display: flex;
  padding: 10px; }
  .dash-stats .card {
    flex: 1;
    margin: 10px;
    min-height: 100px;
    background-color: #fff;
    padding: 10px 15px; }
    .dash-stats .card .value {
      margin-top: 10px;
      font-weight: 300;
      color: #c55a11; }
