@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }
  .loginContainer .loginCard {
    background-color: white;
    padding: 50px; }
  .loginContainer h1 {
    margin: 0px; }
  .loginContainer .logo {
    width: 200px; }
  .loginContainer .loginInput {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding-bottom: 20px; }
    .loginContainer .loginInput .input, .loginContainer .loginInput .button {
      margin-top: 20px; }

.input-login input {
  border-radius: 20px !important; }
