@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.navbar-menu {
  position: sticky;
  z-index: 10000;
  top: 0;
  flex: 1;
  height: 50px;
  background-color: white;
  margin-left: 0px; }
  .navbar-menu .refresh {
    margin: 8px;
    float: right;
    display: flex; }
  .navbar-menu .title {
    float: right;
    display: flex;
    width: 160px;
    align-items: center;
    margin-right: 10px !important;
    padding: 8px 15px;
    margin-top: 8px; }
    .navbar-menu .title h5 {
      margin: 0px;
      text-transform: capitalize; }

.user-info {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid rgba(34, 36, 38, 0.15); }
  .user-info.hidden {
    display: none; }
