.affinity-card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.shopper-checkbox-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; }

.checkboxcontainer input[type="checkbox"] {
  margin-left: 20px;
  width: 25px;
  height: 15px;
  padding-right: 10px; }
