@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.sales-container {
  flex: 1;
  margin-left: 250px !important;
  min-height: 100vh;
  background-color: #f2f5f8; }

.sales-stats, .analysis-stats {
  background-color: transparent;
  display: flex;
  padding: 10px;
  width: 100%; }
  .sales-stats .card, .analysis-stats .card {
    flex: 1;
    margin: 10px;
    min-height: 120px;
    background-color: white;
    padding: 10px 15px; }
    .sales-stats .card .value, .analysis-stats .card .value {
      margin-top: 10px;
      font-weight: 300;
      color: #c55a11; }
    .sales-stats .card .ticker, .analysis-stats .card .ticker {
      display: flex;
      flex-direction: row; }
      .sales-stats .card .ticker .icon.up, .analysis-stats .card .ticker .icon.up {
        color: green; }
      .sales-stats .card .ticker .icon.down, .analysis-stats .card .ticker .icon.down {
        color: red; }

.sales-buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%; }
  .sales-buttons .button {
    margin: 0px 20px; }
    .sales-buttons .button.active {
      background-color: #c55a11;
      color: transparent; }
      .sales-buttons .button.active:hover {
        background-color: #ae4f0f;
        color: transparent; }

.datepicker {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: .5em 2.1em .5em 1em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  transition: width .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px; }
  .datepicker:hover {
    border-color: rgba(34, 36, 38, 0.35);
    box-shadow: none; }
  .datepicker:focus {
    border-color: #96c8da;
    -webkit-box-shadow: none;
    box-shadow: none; }

.analysis {
  background-color: transparent;
  margin: 0px;
  display: flex;
  flex-direction: column; }
  .analysis .analysis-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px; }
    .analysis .analysis-options .input-container {
      padding: 10px;
      padding-bottom: 0px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end; }
      .analysis .analysis-options .input-container.full {
        width: 100%; }
      .analysis .analysis-options .input-container .label {
        margin-bottom: 5px; }
      .analysis .analysis-options .input-container.date .label + div {
        width: 100%; }
      .analysis .analysis-options .input-container.date .quarter-selector, .analysis .analysis-options .input-container.date .month-selector {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
      .analysis .analysis-options .input-container #data-button {
        margin-top: 15px; }
    .analysis .analysis-options .dropdown-selector, .analysis .analysis-options .multiple-dropdown-selector, .analysis .analysis-options .button {
      width: 100%; }
    .analysis .analysis-options .react-datepicker-wrapper {
      width: 100%; }
      .analysis .analysis-options .react-datepicker-wrapper .react-datepicker__input-container {
        width: 100%; }
        .analysis .analysis-options .react-datepicker-wrapper .react-datepicker__input-container input {
          width: 100%; }

.reportParams {
  margin-left: 20px; }

.reportParams.input-container {
  padding: 10px;
  padding-bottom: 0px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; }

.cards-container {
  display: flex;
  justify-content: space-around; }

.report .report-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: transparent; }
  .report .report-cards .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    min-height: 100px;
    background-color: #fff;
    min-width: 20%; }
    .report .report-cards .card .download-icon {
      flex: 1;
      padding: 10px;
      padding-right: 0px;
      align-items: center;
      display: flex; }
    .report .report-cards .card .text {
      display: flex;
      flex: 2;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 10px; }
    .report .report-cards .card .title {
      margin-bottom: 0px; }
    .report .report-cards .card .value {
      margin-top: 5px;
      font-weight: 300;
      color: #c55a11; }
    .report .report-cards .card .ticker {
      display: flex;
      flex-direction: row; }
      .report .report-cards .card .ticker .icon.up {
        color: green; }
      .report .report-cards .card .ticker .icon.down {
        color: red; }
    .report .report-cards .card .button {
      margin: 0 -1px;
      width: calc(30% + 2px);
      background-color: #f2f2f2; }

.Select.is-clearable.is-searchable {
  padding: 0px;
  padding-bottom: 0px;
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px; }
  .Select.is-clearable.is-searchable:focus {
    outline-color: transparent; }
  .Select.is-clearable.is-searchable.is-open .Select-control {
    border-color: #96c8da;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: transparent; }
    .Select.is-clearable.is-searchable.is-open .Select-control:hover {
      border-color: #96c8da; }
  .Select.is-clearable.is-searchable.is-open .Select-menu-outer {
    border-color: #96c8da;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: transparent; }
  .Select.is-clearable.is-searchable.is-focused .Select-control {
    border-color: #96c8da;
    box-shadow: none; }
  .Select.is-clearable.is-searchable .Select-control {
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 20px; }
    .Select.is-clearable.is-searchable .Select-control:hover {
      border-color: rgba(34, 36, 38, 0.35); }
    .Select.is-clearable.is-searchable .Select-control.is-open {
      border-color: #96c8da; }

.Select--multi .Select-multi-value-wrapper {
  display: flex !important; }

.Select-multi-value-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .Select-multi-value-wrapper .Select-value {
    display: flex !important;
    flex-direction: row-reverse;
    background: #e8e8e8 !important;
    border-radius: 15px !important;
    border: 1px solid #cacaca !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important; }
    .Select-multi-value-wrapper .Select-value .Select-value-icon {
      border-right: 0px;
      color: #aaa;
      font-weight: 900;
      font-size: 20px;
      margin-top: -5px;
      margin-bottom: -5px; }
    .Select-multi-value-wrapper .Select-value .Select-value-label {
      color: #646464;
      font-weight: 700;
      font-size: 14px; }

.ui.multiple.search.selection.dropdown.multiple-dropdown-selector .ui.label {
  border-radius: 15px;
  margin-top: 2.5px;
  margin-bottom: 2.5px; }
