@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.sidebar-menu {
  background-color: white;
  height: calc(100vh + 600px);
  width: 250px !important;
  position: fixed;
  margin-top: -300px;
  padding-top: 300px; }
  .sidebar-menu .sidebar-header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px; }
    .sidebar-menu .sidebar-header .sidebar-header-img {
      height: 48px; }
    .sidebar-menu .sidebar-header .sidebar-header-title {
      padding-left: 10px;
      font-size: 24px;
      margin-bottom: 0px;
      margin-top: 0px;
      user-select: none; }
  .sidebar-menu .sidebar-list {
    padding-left: 0px; }
    .sidebar-menu .sidebar-list .sidebar-list-item {
      color: black;
      list-style: none;
      font-size: 28px;
      text-decoration: none;
      font-family: "Open Sans", sans-serif; }
      .sidebar-menu .sidebar-list .sidebar-list-item .sidebar-list-item-link {
        padding: 10px 40px 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none; }
        .sidebar-menu .sidebar-list .sidebar-list-item .sidebar-list-item-link .sidebar-list-item-icon {
          width: 50px;
          text-align: center;
          color: #000; }
        .sidebar-menu .sidebar-list .sidebar-list-item .sidebar-list-item-link h4 {
          margin: 0px;
          padding-left: 10px;
          font-size: 20px;
          color: #000;
          font-weight: 400; }
      .sidebar-menu .sidebar-list .sidebar-list-item.active {
        background: rgba(0, 0, 0, 0.1); }
