@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
  background-color: #f2f2f2; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans", sans-serif; }

.button {
  border-radius: 20px !important;
  margin-right: 0px !important; }

.table {
  border-radius: 0px !important; }

.ui.selection.dropdown.dropdown-selector,
.multiple.search.selection.dropdown.multiple-dropdown-selector,
.ui.selection.dropdown.duration-selector,
.ui.multiple.search.selection.dropdown.store-selector {
  border-radius: 19px; }

.visible.menu.transition, .ui.active.visible.selection.dropdown.dropdown-selector {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important; }
  .visible.menu.transition[aria-expanded="true"], .ui.active.visible.selection.dropdown.dropdown-selector[aria-expanded="true"] {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important; }

.card {
  background-color: white;
  padding: 20px;
  margin: 20px; }
