
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$body-font: 'Open Sans', sans-serif;
$font-size: 20;
$theme-color-main: rgb(242,242,242);
$background-color: rgb(242, 245, 248);
$haste-orange: rgb(197,90,17);
$location: rgb(68,114,196)
