@import 'variables';

.chart-wrapper {
    flex:1;
    background-color: transparent;
    padding: 20px 20px;
    font-family: $body-font;

    .chart-header{
        display: flex;
        flex:1;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-between;
        align-items: flex-end;

        .chart-title{
            font-size: 20px;
            display: 'inline'
        };

        .chart-icon{
            display: 'inline'
        }
    }

    .chart-graph{
        flex:5;
    }
}