@import 'variables';

.dashboard-container {
    flex: 1;
    margin-left: 250px !important;
    width: calc(100% - 250px);
    background: $background-color;
    
}

.duration-display{
    background-color: transparent;
    padding-left: 20px;
}

.dashboard-input-header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    position: relative;
    width: 100%;
    .duration-selector-container {
        max-width: 300px;
        display: block;
    }
    .store-selector-container {
        max-width: 400px;
        display: block;
    }
}
.dash-stats {
    background-color: transparent;
    display: flex;
    padding: 10px;
    .card {
        flex: 1;
        margin: 10px;
        min-height: 100px;
        background-color: #fff;
        padding: 10px 15px;
        .title {

        }
        .value {
            margin-top: 10px;
            font-weight: 300;
            color: $haste-orange;
        }
    }
}