@import 'variables';

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    .loginCard {
        background-color: white;
        padding: 50px;
    }
    h1 {
        margin: 0px;
    }
    .logo {
        width: 200px;
    }
    .loginInput {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        padding-bottom: 20px;
        .input, .button {
            margin-top: 20px;
        }
    }
}

.input-login {
    input {
        border-radius: 20px !important;
    }
}