@import 'variables';

.navbar-menu {
    position: sticky;
    z-index: 10000;
    top: 0;
    flex: 1;
    height: 50px;
    background-color: white;
    margin-left: 0px;
    .refresh {
        margin: 8px;
        float: right;
        display: flex;
    }
    .title {
        float: right;
        display: flex;
        width: 160px;
        align-items: center;
        margin-right: 10px !important;
        padding: 8px 15px;
        margin-top: 8px;
        h5 {
            margin: 0px;
            text-transform: capitalize;
        }
    }
}

.user-info {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid rgba(34,36,38,.15);
    &.hidden {
        display: none;
    }
}