@import 'variables';


h4 {
    margin: 0px;
    padding-left: 10px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-transform: lowercase;
  }//black
h2{
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #c55a11;
  font-family: "Open Sans", sans-serif;
}//orange
h3{

}// mo

.valuecard{
  font-size: 18px;
  margin-top:0px;
  font-weight: 300;

}
.analysisHeader{
  line-height: 1.28571429em;
  font-weight: 700;
  padding: 0;
  font-size: 20px;
  margin: 15px;
  margin-top:20px;

}
.valueLabel{
  color: grey;
  flex: 1 1 0%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.valueHeaders{
  font-size: 18px;
  marginTop:0px;
  font-weight: 600;
  text-transform: uppercase;
}

.image {
  align-self: center;

}

resultsContainer{
  width: 20%;
}

.rightTextArea{
  margin-top: 0;
  text-align: right;
  font-size: 1rem;

}
.textContainer{
  flex:1 ;
  margin:0px;

}

.centerTextArea{
  padding: 3px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  text-align: center;
  font-size: 1rem;

}
.imageSize{
  flex:1;
  margin: 0;
  padding: 0;
  height: 170px;
  width: 50px;
  position: relative;
}
.imageSizeActive{
  flex:1;
  margin: 0;
  padding: 0;
  height: 170px;
  width: 50px;
  opacity : 0.5;

}

.tripleCardsContainer{
  font-family: $body-font;
  background-color: #ffffff;
  margin:0%;
  display:flex;
  justify-content: space-evenly;

}
.ui.segment.imageContainer{
  width:100%;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  margin-right: 20px;
}
.cardsContainer {
  display: flex;
  margin: 50px !important;
  min-height: 100vh;
  background-color: #da432a;
}
.sales-container {
  flex: 1;
  margin-left: 250px !important;
  min-height: 100vh;
  background-color: $background-color;
}

.full-width {
  display: flex;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.input-container {
  padding: 10px;
  padding-bottom: 0px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  &.full {
    width: 100%;
  }
  .label {
    margin-bottom: 5px;
  }
  &.half{
    width:50%;
  }
  &.date {
    .label + div {
      width: 100%;
    }

    .quarter-selector, .month-selector {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

  }

  #data-button {
    margin-top: 15px;
  }
}

.dropdown-selector, .multiple-dropdown-selector, .button {
  width: 100%;
}

.sales-stats, .analysis-stats {
  background-color: transparent;
  display: flex;
  padding: 10px;
  width: 100%;
  .card {
    flex: 1;
    margin: 10px;
    min-height: 120px;
    background-color: white;
    padding: 10px 15px;
    .title {

    }
    .value {
      margin-top: 10px;
      font-weight: 300;
      color: $haste-orange;
      font-size: 15px;
      .cardFont{
        color: #da432a;

    }
    }
    .ticker {
      display: flex;
      flex-direction: row;
      .icon {
        &.up { color: green; }
        &.down { color: red; }
      }
    }
  }
}

.sales-buttons {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  .button {
    margin: 0px 20px;
    max-width: 300px;
    background-color: transparent;
    border-radius: 0px !important;
    &:hover {
      background-color: transparent;
    }
    &.active {
      background-color: transparent;
      color: $haste-orange;
      border-bottom: 5px solid $haste-orange;
      box-sizing: border-box;
      margin-bottom: -5px;
      &:hover {
        color: darken($color: $haste-orange, $amount: 5);
        border-bottom-color: darken($color: $haste-orange, $amount: 5);
        background-color: transparent;
      }
    }
  }
}


.datepicker {
  font-family: $body-font;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: .5em 2.1em .5em 1em;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 20px;
  transition: width .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  &:hover {
    border-color: rgba(34,36,38,.35);
    box-shadow: none;
  }
  &:focus {
    border-color: #96c8da;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

.analysis {
  background-color: transparent;
  margin: 0px;
  display: flex;
  flex-direction: column;
  .analysis-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    .input-container {
      padding: 10px;
      padding-bottom: 0px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      &.full {
        width: 100%;
      }
      .label {
        margin-bottom: 5px;

      }
      &.date {
        .label + div {
          width: 100%;
        }

        .quarter-selector, .month-selector {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }

      }

      #data-button {
        margin-top: 15px;
      }
    }
    .dropdown-selector, .multiple-dropdown-selector, .button {
      width: 100%;
    }
    .react-datepicker-wrapper {
      width: 100%;
      .react-datepicker__input-container {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
.reportParams {

  margin-left: 20px;

}
.reportParams.input-container{
  padding: 10px;
  padding-bottom: 0px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.cards-container{
  display:flex;
  justify-content: space-around;
}
.report {
  .report-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background: transparent;
    .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px;
      min-height: 100px;
      background-color: #fff;
      min-width: 20%;
      .download-icon {
        flex:1;
        padding: 10px;
        padding-right: 0px;
        align-items: center;
        display: flex;
      }
      .text {
        display: flex;
        flex:2;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 10px;
      }
      .title {
        margin-bottom: 0px;
      }
      .value {
        margin-top: 5px;
        font-weight: 300;
        color: $haste-orange;
      }
      .ticker {
        display: flex;
        flex-direction: row;
        .icon {
          &.up { color: green; }
          &.down { color: red; }
        }

      }
      .button{
        margin: 0 -1px;
        width: calc(30% + 2px);
        background-color:$theme-color-main;
      }
    }
  }
}

.semantic_ui_range_inner > div:nth-child(3) {
  background-image: url('../img/carrot.png') !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  background-size: 30px 30px;
  height: 30px !important;
  width: 30px !important;
  margin-left: -5px;
  margin-top: -5px;
  box-shadow: none !important;
}

