@import 'variables';

.sidebar-menu {
    background-color: white;
    height: calc(100vh + 600px);
    width: 250px !important;
    position: fixed;
    margin-top: -300px;
    padding-top: 300px;
    .sidebar-header {
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin-top: 20px;
        .sidebar-header-img {
            height: 48px;
        }
        .sidebar-header-title {
            padding-left: 10px;
            font-size: 24px;
            margin-bottom: 0px;
            margin-top: 0px;
            user-select: none;
        }
    }
    .sidebar-list {
        padding-left: 0px;
        .sidebar-list-item {
            color: black;
            list-style: none;
            font-size: 28px;
            text-decoration: none;
            font-family: $body-font;
            .sidebar-list-item-link {
                padding: 10px 40px 10px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;

                .sidebar-list-item-icon {
                    width: 50px;
                    text-align: center;
                    color: #000;
                }
                h4 {
                    margin: 0px;
                    padding-left: 10px;
                    font-size: 20px;
                    color: #000;
                    font-weight: 400;
                }
            }
            
            &.active {
                background: rgba(0,0,0,0.1);
            }
        }
    }
}