@import 'variables';

body {
    background-color: $theme-color-main;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: $body-font;
}

.button {
    border-radius: 20px !important;
    margin-right: 0px !important;
}

.table {
    border-radius: 0px !important;
}

.ui.selection.dropdown.dropdown-selector, 
.multiple.search.selection.dropdown.multiple-dropdown-selector, 
.ui.selection.dropdown.duration-selector, 
.ui.multiple.search.selection.dropdown.store-selector {
    border-radius: 19px;
}
.visible.menu.transition, .ui.active.visible.selection.dropdown.dropdown-selector {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    &[aria-expanded="true"] {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
}